<div class="comment-form">
  <h3>Добавить комментарий</h3>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    @if (!isLoggedIn()) {
      <mat-form-field appearance="outline"  class="form-group">
        <mat-label >Имя / Ник</mat-label>
        <input matInput id="author" type="text" formControlName="author" placeholder="Ваше имя">
        @if (author?.invalid && author?.touched) {
          <mat-error class="error-message">Имя обязательно</mat-error>
        }
      </mat-form-field>
    }
    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Комментарий</mat-label>
      <textarea matInput id="content" formControlName="content" rows="4" placeholder="Ваш комментарий"></textarea>
      @if (content?.invalid && content?.touched) {
        <mat-error class="error-message">Текст комментария обязателен</mat-error>
      }
    </mat-form-field>

    <div class="form-buttons">
      <button mat-raised-button type="submit" [disabled]="commentForm.invalid">Отправить</button>
    </div>
  </form>
</div>
