:root {
    --block-color: rgba(118, 148, 163, 0.51);
    --text-color: #dfca9a;
    --border-color-1: #e1a925;
    --border-color-2: rgba(128, 128, 128, 1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

HTML {
    scroll-behavior: smooth;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Chronicles", serif;
    color: var(--text-color);

    background-image: url(img/background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: "Chronicles";
    src: url('fonts/Chronicles_font.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.page-container {
    width: 100%;
    max-width: 1350px;
    height: 100%;

    /*border: 1px solid black;*/
}

.header, .nav, .nav-list {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-list {
    width: 40vw;
    min-width: 200px;
    justify-content: space-around;
}

.nav-list ::marker {
    content: "";
}

.nav-list li :hover {
    font-weight: bold;
}

.header a {
    font-size: 20px;
}

a:link {
    color: var(--border-color-1);
}

a:visited {
    color: var(--text-color);
}
/***************************************************/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    gap: 25px;
}

.about-author {
    width: 100%;

    display: grid;
    grid-template-columns: 65% 35%;
    justify-items: start;
    grid-row-gap: 15px;
}

.about-author section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.img {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    box-shadow: 0 0 0 3px var(--border-color-1),
                inset 0 0 0 2px var(--border-color-2),
                inset 0 0 0 3px var(--border-color-1);
}

.about-author .img {
    grid-column: 2;
    grid-row: 1/ span 4;
}

.img.avatar,
.img.stamp {
    height: auto;
    aspect-ratio: 1;
}

.img.avatar {
    border-radius: 0 0 50% 50%;
    background-image: url(img/profile.png);
}

/***************************************************/

.article-preview {
    /*width: 100%;*/
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.article-preview :nth-last-child(1) {
    align-items: end;
}

.article-preview article {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;

    justify-items: start;
    align-items: center;
    grid-column-gap: 30px;
}

.text-for-article-preview {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px;
}

.text-for-article-preview::after {
    width: 100%;
    height: 100%;

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--block-color);
    z-index: -1;
}

.article-preview .img {
    height: 100%;
    aspect-ratio: 3/2;
}

#img-for-article-preview-1 {
    background-image: url(img/goblin.png);
}

#img-for-article-preview-2 {
    background-image: url(img/well.png);
}

#img-for-article-preview-3 {
    background-image: url(img/rats.png);
}

/**************************************************/

.experience {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: start;
    align-items: center;
}

.experience div {
    width: 100%;
    height: 100%;
}

.experience h2 {
    grid-row: span 3;
    justify-self: self-start;
    align-self: self-start;
}

/***************************************************/

.achievements, .achievements h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.achievements ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(3, 30%);*/
    justify-items: center;
    align-items: center;
    column-gap: 5%;
}

.achievements li {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.achievements li::marker {
    content: "* ";
}

.achievements li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--border-color-1);
}

/***********************************************/

.hobby {
    width: 100%;
    display: grid;

    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 30px repeat(2, 1fr);

    justify-items: center;
    align-items: center;

    grid-column-gap: 2%;
    grid-row-gap: 2%;
}

.header-hobby {
    grid-column: 1/4;
}

.hobby article {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    position: relative;
}

.hobby article:nth-child(2),
.hobby article:nth-child(3) {
    grid-row: 2/4;
    aspect-ratio: 1/2;
}

#img-for-hobby-1 {
    background-image: url(img/magig.png);
}
#img-for-hobby-2 {
    background-image: url(img/awords.png);
}
#img-for-hobby-3 {
    background-image: url(img/fish.png);
}
#img-for-hobby-4 {
    background-image: url(img/horse.png);
}

.hobby-text {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    align-items: flex-start;
    padding: 10px;

    transition: opacity 0.3s ease-in-out;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.hobby-img {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.hobby article:hover .hobby-img {
    opacity: 0;
}

.hobby article:hover .hobby-text {
    opacity: 1;
}

/****************************************/

.articles,
.articles article:first-child {
    width: 100%;

    position: relative;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    grid-gap: 30px;
}

@media (max-width: 800px) {
    .articles {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
}

.articles article:not(:first-child) {
    width: 100%;
    height: 100%;

    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

@media (max-width: 800px) {
    .articles article:not(:first-child),
    .articles article:first-child {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
        align-items: start;
        gap: 10px;
    }
}

.articles article:first-child {
    grid-column: 1/4;
    align-items: start;
}

.articles article:first-child .img {
    grid-column: 1/3;
}

@media (max-width: 800px) {
    .articles article:first-child .img {
        grid-column: 1;
    }
}
.text-for-article {
    padding-top: 10px;
}
#img-for-article-1 {
    background-image: url(img/goblin.png);
}
#img-for-article-2 {
    background-image: url(img/well.png);
}
#img-for-article-3 {
    background-image: url(img/rats.png);
}
#img-for-article-4 {
    background-image: url(img/wedding.jpeg);
}
#img-for-article-5 {
    background-image: url(img/goblin.png);
}
#img-for-article-6 {
    background-image: url(img/goblin.png);
}

.img-for-article {
    height: auto;
    aspect-ratio: 3 / 2;
}

.delete-article {
    width: 20px;
    height: 20px;

    position: absolute;
    right: 0;
    bottom: 0;

    display: none;
    align-items: center;
    justify-content: center;

    background: transparent;
    border: 1px solid var(--border-color-1);
    color: var(--border-color-1);
}

.articles article:hover .delete-article {
    display: flex;
}
/**************************************************/

footer {
    width: 100%;
    height: 100%;

    padding: 10px;

    display: flex;
    align-items: center;
    color: var(--text-color);
    background-color: black;
}


/**************************************************/

.admin-panel {
     position: fixed;
     right: 0;
     top: 65%;

     border-radius:  8px 0 0 8px ;
     padding: 10px;

     display: flex;
     flex-direction: column;

     gap: 10px;
     z-index: 100;
 }

.admin-btn {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
}

.admin-btn:hover {
    box-shadow: 2px 2px 4px var(--border-color-1);
    border: 1px solid var(--border-color-1);
}

.admin-btn:active {
    box-shadow: inset 0 0 3px var(--border-color-1);
    border: 1px solid var(--border-color-1);
}

#create-post-btn {
    background: url(icon/save.png) center no-repeat;
}
#show-stats-btn {
    background: url(icon/statistics.png) center no-repeat;
}

/**************************************************/

.modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.modal-dialog div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-dialog >div >:nth-child(1n+2) {
    flex-direction: row;
}

.modal-dialog span {
    width: 80%;

    display: flex;
    justify-content: center;

    border: 1px solid black;
}

/**************************************************/

@keyframes showForm {
    from {
        height: 0;
    }

    to {
        height: 350px;
    }
}

@keyframes hideForm {
    from {
        height: 350px;
    }

    to {
        height: 0;
    }
}

.form:not([hidden]) {
    animation: showForm 250ms ease both;
    height: 40px;
}

.form[hidden] {
    animation: hideForm 250ms ease;
    height: 0;
}

input,
textarea {
    width: 100%;
}

input:required,
textarea:required {
    border-color: var(--border-color-1);
}

input:invalid,
textarea:invalid {
    border-color: #fb0000;
}
