<section class="experience" >
  <h2>Опыт работы:</h2>
  <div>
    <h3><strong>Каэдвен</strong> <i>(Стаж: 4 года).</i></h3>
    <p>Суровый север. Здесь холодно, монстры злые, а платят медью. Зато работы невпроворот. Основная специализация — лешие и ледяные великаны. Научился ценить хорошую водку и теплые сапоги.</p>
  </div>
  <div>
    <h3><strong>Княжество Туссент</strong> <i>(Стаж: 3 месяца, уволился по собственному желанию).</i></h3>
    <p>Красиво, вино вкусное, но местные рыцари такие придурки. Вместо того чтобы позвать ведьмака, они пытаются сразиться с драконом на лошадях. Половина работы заключалась в том, чтобы вытаскивать этих идиотов из пастей чудовищ, пока они читали стихи.</p>
  </div>
  <div>
    <h3><strong>Вольный город Новиград</strong> <i>(Стаж: 2 года).</i></h3>
    <p>Кошмарное место. Люди здесь убивают друг друга чаще, чем чудовища. Основная работа: зачистка доков от водяных и урегулирование вопросов с церковными фанатиками, которые почему-то решили, что "вечный покой" в склепе — это круто, пока оттуда не полезли гули.</p>
  </div>
</section>


