:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 25px;
}

.articles {
  width: 100%;
  min-height: 500px;
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;

  grid-gap: 30px;
}

.articles .article-card:first-of-type {
  grid-column: 1/4;
  align-items: start;
}

@media (max-width: 800px) {
  .articles {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.empty-page {
  grid-column: span 3;
  width: 100%;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-page.hide {
  display: none;
}

.admin-panel {
  position: fixed;
  right: 0;
  top: 65%;

  border-radius:  15px 0 0 15px;
  padding: 10px 5px 10px 10px;

  display: flex;
  flex-direction: column;

  gap: 10px;
  z-index: 100;

  background-color: black;
  border: 1px solid var(--border-color-1);
}

.admin-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.admin-btn:hover {
  box-shadow: 2px 2px 4px var(--border-color-1);
  border: 1px solid var(--border-color-1);
}

.admin-btn:active {
  box-shadow: inset 0 0 3px var(--border-color-1);
  border: 1px solid var(--border-color-1);
}

#create-post-btn {
  background: url(../../../../assets/icon/save.png) center no-repeat;
}
#show-stats-btn {
  background: url(../../../../assets/icon/statistics.png) center no-repeat;
}

/**************************************************/

.modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.modal-dialog div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-dialog >div >:nth-child(1n+2) {
  flex-direction: row;
}

.modal-dialog span {
  width: 80%;

  display: flex;
  justify-content: center;

  border: 1px solid black;
}

/**************************************************/
//
//@keyframes showForm {
//  from {
//    height: 0;
//  }
//
//  to {
//    height: 350px;
//  }
//}
//
//@keyframes hideForm {
//  from {
//    height: 350px;
//  }
//
//  to {
//    height: 0;
//  }
//}
//
//.form:not([hidden]) {
//  animation: showForm 250ms ease both;
//  /*height: 350px;*/
//  width: 85%;
//}
//
//.form[hidden] {
//  animation: hideForm 250ms ease;
//  /*height: 0;*/
//}
//
//form {
//  display: flex;
//  flex-direction: column;
//  gap: 10px;
//}
//
//input,
//textarea {
//  width: 100%;
//  font-family: inherit;
//
//}
//
//input {
//  height: 40px;
//  padding-left: 10px;
//}
//
//textarea {
//  resize: none;
//  min-height: 200px;
//  padding: 10px;
//}
//
//input:required,
//textarea:required {
//  border-color: var(--border-color-1);
//}
//
//input:invalid,
//textarea:invalid {
//  border-color: #fb0000;
//  box-shadow: inset 0 0 0 1px var(--border-color-1),
//  inset 0 0 0 2px #fb0000;
//}
//
//input:focus,
//textarea:focus {
//  border-color: var(--border-color-1);
//  outline: none;
//  box-shadow: inset 0 0 0 1px var(--border-color-2),
//  inset 0 0 0 2px var(--border-color-1);
//}
//
//.form-buttons {
//  display: flex;
//  justify-content: flex-end;
//  gap: 10px;
//}
//
//.form-buttons button {
//  width: 80px;
//  height: 20px;
//  font-family: inherit;
//  color: var(--text-color);
//  background-color: black;
//  border: 1px solid var(--border-color-1);
//}
//
//.form-buttons button:hover {
//  box-shadow: 2px 2px 4px var(--border-color-1);
//}
//.form-buttons button:active {
//  box-shadow: inset 0 0 3px var(--border-color-1);
//}
//
//:disabled {
//  opacity: 0.6;
//  cursor: not-allowed;
//  background-color: var(--block-color);
//  color: var(--border-color-1);
//}
//
//.form-buttons button:disabled  {
//  cursor: not-allowed;
//  pointer-events: none;
//}
