@if (visible) {
  <section id="form" class="form">
    <h1>Создать статью</h1>
    <form id="article-form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="create-heading">Заголовок <span class="required-star" >*</span></label>
        <input id="create-heading" name="create-heading" type="text"
               placeholder="О чем ваша статья?" [(ngModel)]="heading" required>
      </div>
      <div class="form-group">
        <label for="create-content">Текст статьи <span class="required-star">*</span></label>
        <textarea id="create-content" name="create-content"
                  placeholder="Содержание статьи" rows="10" required [(ngModel)]="content"></textarea>
      </div>
      <div class="form-buttons">
        <button type="submit" id="submit">Сохранить</button>
        <button type="button" id="cancel" (click)="onCancel()">Отмена</button>
      </div>
    </form>
  </section>
}
