// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

:root {
  --block-color: rgba(118, 148, 163, 0.2);
  --block-color-dark: rgba(0, 0, 0, 0.7);
  --text-color: #dfca9a;
  --border-color-1: #e1a925;
  --border-color-2: rgba(38, 36, 36, 1);
  --error-color: #fb0000;
}

.mat-mdc-form-field {
  --mat-sys-outline: var(--border-color-1);
  --mat-sys-on-surface: var(--text-color);
  --mat-sys-on-surface-variant: var(--text-color);
  --mat-sys-primary: var(--text-color);
}

.mat-mdc-form-field.mat-form-field-invalid {
  --mat-sys-error: var(--error-color);
  --mat-sys-error-container: var(--error-color);
  --mat-sys-on-error-container: var(--error-color);
}

//mat-label,
//.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--invalid .mdc-floating-label,
//.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label,
//.mat-mdc-form-field-flex {
.mat-mdc-form-field *{
  font-family: 'Chronicles', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Chronicles', serif;
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
  //font-family: 'Chronicles', serif;
  //color: var(--text-color);
}

//body {
//  font-family: 'Chronicles', serif !important;
//  color: var(--text-color) !important;
//}

@font-face {
  src: url('assets/fonts/Chronicles_font.ttf') format('truetype');
  font-family: 'Chronicles';
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
p,
li,
.text,
.text-for-article,
.article-card .text p,
.article-card h3,
.form input,
.form textarea,
mat-h1,
mat-card-title,
mat-card-subtitle {
  word-wrap: break-word; /* старый стандарт */
  overflow-wrap: break-word; /* современный стандарт */
  word-break: break-word; /* для поддержки разных браузеров */
  white-space: normal; /* гарантия переноса (не nowrap) */
}
h1 {
  font-size: clamp(18px, 4cqw, 28px);
}

h2 {
  font-size: clamp(14px, 4cqw, 26px);
}

h3 {
  font-size: clamp(10px, 3cqw, 20px);
}
p {
  font-size: clamp(8px, 3cqw, 16px);
}

a:link {
  color: var(--border-color-1);
}

a:visited {
  color: var(--text-color);
}

.img {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  box-shadow:
    0 0 0 3px var(--border-color-1),
    inset 0 0 0 2px var(--border-color-2),
    inset 0 0 0 3px var(--border-color-1);
}
