<div class="about-author">
  <div class="img avatar" [style.background-image]="'url(' + profileUrl + ')'"></div>
  <section>
    <h1>Обо мне</h1>
    <p>Добро пожаловать! Блог практикующего ведьмака: «Меч и монета»</p>
  </section>

  <section>
    <h2>Моя карьера</h2>
    <h3>Ведьмак, Фриланс</h3>
    <p>Хожу по Тракту. Где проблема — там и я.</p>
  </section>
  <section>
    <h2>Образование:</h2>
    <article>
      <h3>Школа Волка, Каэр Морхен.</h3>
      <p><strong>Специальность:</strong> Прикладная гербология, чудовищеведение и ритуальная магия (базовый уровень).</p>
      <p><strong> Выпускная работа:</strong> «Оптимизация расхода серебра при борьбе с упырями в условиях скалистой местности».</p>
    </article>
  </section>
  <p>Для тех, кто думает, что мы — это просто хмурые парни с двумя мечами за спиной и скверным характером. Ведьмак — это ликвидатор последствий ваших же ошибок. Кто-то полез в старые катакомбы за дешевым хламом и разбудил полуденницу? Мы придем. Кто-то приносил кровавые жертвы "древним богам", а теперь эта тварь жрет скот? Мы придем (и, скорее всего, выпишем счет в двойном размере за идиотизм).</p>
</div>
