//main {
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//
//  padding: 20px;
//  gap: 25px;
//}

//.about-author {
//  width: 100%;
//
//  display: grid;
//  grid-template-columns: 65% 35%;
//  justify-items: start;
//  grid-row-gap: 15px;
//
//  container-type: inline-size;
//}
//
//.about-author section {
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: flex-start;
//}
//
//.img {
//  width: 100%;
//  height: 100%;
//
//  display: flex;
//  align-items: center;
//  justify-content: center;
//
//  background-size: cover;
//  background-position: center center;
//  background-repeat: no-repeat;
//
//  box-shadow: 0 0 0 3px var(--border-color-1),
//  inset 0 0 0 2px var(--border-color-2),
//  inset 0 0 0 3px var(--border-color-1);
//}
//
//.about-author .img {
//  grid-column: 2;
//  grid-row: 1/ span 4;
//}
//
//.img.avatar,
//.img.stamp {
//  height: auto;
//  aspect-ratio: 1;
//}
//
//.img.avatar {
//  border-radius: 0 0 50% 50%;
//  background-image: url(/assets/img/profile.jpeg);
//}

/***************************************************/

.article-preview {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  container-type: inline-size;
}

.article-preview :nth-last-child(1) {
  align-items: end;
}

.article-preview article {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;

  justify-items: start;
  align-items: center;
  grid-column-gap: 30px;
}

.text-for-article-preview {
  width: 100%;
  height: 100%;

  position: relative;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  overflow: hidden;
  aspect-ratio: 1;
}

.text-for-article-preview::after {
  width: 100%;
  height: 100%;

  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--block-color);
  z-index: -1;
}

.article-preview .img {
  height: auto; /*100%*/
  aspect-ratio: 3/2;
}

//#img-for-article-preview-1 {
//  background-image: url(/assets/img/goblin.jpeg);
//}
//
//#img-for-article-preview-2 {
//  background-image: url(/assets/img/well.jpeg);
//}
//
//#img-for-article-preview-3 {
//  background-image: url(/assets/img/rats.jpeg);
//}

/**************************************************/

.experience {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: start;
  align-items: center;
  grid-gap: 15px;

  container-type: inline-size;
}

.experience div {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
}

.experience h2 {
  width: 100%;
  height: 100%;
  position: relative;

  grid-row: span 3;
  justify-self: self-start;
  align-self: self-start;
  padding: 10px;
}

.experience h2::after,
.experience div::after {
  width: 100%;
  height: 100%;

  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--block-color);
  z-index: -1;
}

/***************************************************/

.achievements {
  container-type: inline-size;
}

.achievements, .achievements h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.achievements ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-items: center;
  align-items: center;
  column-gap: 5%;
}

.achievements li {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-size: clamp(8px, 3cqw, 16px);
}

.achievements li::marker {
  content: "* ";
}

.achievements li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--border-color-1);
}

/***********************************************/

.hobby {
  width: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 30px repeat(2, 1fr);

  justify-items: center;
  align-items: center;

  grid-column-gap: 2%;
  grid-row-gap: 2%;

  container-type: inline-size;
}

.hobby p {
  font-size: clamp(6px, 2cqw, 16px);
}
.header-hobby {
  grid-column: 1/4;
}

.hobby article {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  position: relative;
}

.hobby article:nth-child(2),
.hobby article:nth-child(3) {
  grid-row: 2/4;
  aspect-ratio: 1/2;
}

//#img-for-hobby-1 {
//  background-image: url(/assets/img/magic.jpeg);
//}
//#img-for-hobby-2 {
//  background-image: url(/assets/img/awords.jpeg);
//}
//#img-for-hobby-3 {
//  background-image: url(/assets/img/fish.jpeg);
//}
//#img-for-hobby-4 {
//  background-image: url(/assets/img/horse.jpeg);
//}

.hobby-text {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  padding: 10px;

  transition: opacity 0.3s ease-in-out;

  opacity: 0;
  background-color: var(--block-color-dark);
  overflow: hidden;
}

.hobby-img {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hobby article:hover .hobby-img {
  opacity: 0;
}

.hobby article:hover .hobby-text {
  opacity: 1;
}
